@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-qaf6g3');
	src:url('fonts/icomoon.eot?#iefix-qaf6g3') format('embedded-opentype'),
		url('fonts/icomoon.woff?-qaf6g3') format('woff'),
		url('fonts/icomoon.ttf?-qaf6g3') format('truetype'),
		url('fonts/icomoon.svg?-qaf6g3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
	content: "\e094";
}

.icon-arrow-right:before {
	content: "\e095";
}

.icon-picture:before {
	content: "\e00f";
}

.icon-edit:before {
	content: "\e01c";
}

.icon-lightbulb:before {
	content: "\e030";
}

.icon-facebook:before {
	content: "\e05d";
}

.icon-twitter:before {
	content: "\e05e";
}

.icon-googleplus:before {
	content: "\e05f";
}

.icon-dribbble:before {
	content: "\e063";
}

