// Import
@import "normalize";
@import "../bourbon/bourbon";
@import "slick";
@import "icon";

body{
  font-family: "Raleway", "Lato", sans-serif;
  color: #212121;
  font-size: 100%;
  font-size: 62.5%;
  font-size: 16px;
  position: relative;
}

p {
    font-size: 1.4em; /* 1.4em relative to a 16px baseline on the body will result in a 20px font size */
    line-height: 1.4em;
}

/* ----------------------------------
    II Global Class
----------------------------------- */

h1,.h1 {
    font-size: 2.5rem;
    margin: 0 0 1rem 0
}

@media (max-width: 43.75em) {
    h1,.h1 {
        font-size:1.8rem;
    }
}

h2,.h2 {
    font-size: 2rem;
    margin: 0 0 1rem 0
}

@media (max-width: 43.75em) {
    h2,.h2 {
        font-size:1.7em;
    }
}

h3,.h3 {
    font-size: 1.8rem;
    margin-top: 50px
}

@media (max-width: 43.75em) {
    h3,.h3 {
        font-size:1.6rem;
    }
}

h4,.h4 {
    font-size: 1.2rem;
    margin: 0 0 0.8rem 0
}

@media (max-width: 43.75em) {
    h4,.h4 {
        font-size:1.2rem;
    }
}

h5,.h5 {
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase
}

@media (max-width: 43.75em) {
    h5,.h5 {
        font-size:1rem;
    }
}

h6 {
    font-size: 1rem
}

.site-section-title {
    text-align: center;
    padding: 50px 0 40px
}


.btn{
  font-size: 1.2rem;
  padding: 15px 60px;
  text-decoration: none;
  border: 2px solid #f0f0f0;
  border-radius: 50px;
  color:#D0D0D0;
  position: relative;
  @include transition(all 0.32s ease-in-out);

  &:hover{
    border: 2px solid rgba(33, 33, 33, 0.4);
    color: rgba(33, 33, 33, 0.8);
  }
}


/* ---------------------------------
    I Preload
----------------------------------*/

$anim-speed: 750ms;
$tricolor: #215a6d;
$triw: 30px;
$trih: $triw*.9;
$tribodycolor: #e4e4e5;


#preload{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $tribodycolor;
  z-index: 9999;

  .triangles{
    position: absolute;
    left: 50%;
    top: 50%;
    height: $trih * 3;
    width: $triw * 3;
    @include transform(translate(-50%, -50%));
  }

  .tri{
    position: absolute;
    @include animation(pulse $anim-speed ease-in infinite);
    border: {
      top: $trih solid $tricolor;
      left: $triw/2 solid transparent;
      right: $triw/2 solid transparent;
      bottom: 0px;
    }

    &.invert{
      border: {
        top: 0px;
        bottom: $trih solid $tricolor;
        left: $triw/2 solid transparent;
        right: $triw/2 solid transparent;
      }
    }

    &:nth-child(1){
      left: $triw;
    }
    &:nth-child(2){
      left: $triw/2;
      top: $trih;
      @include animation-delay($anim-speed/6*-1);
    }
    &:nth-child(3){
      left: $triw;
      top: $trih;
    }
    &:nth-child(4){
      left: $triw*1.5;
      top: $trih;
      @include animation-delay($anim-speed/6*-5);
    }
    &:nth-child(5){
      top: $trih*2;
      @include animation-delay($anim-speed/6*-2);
    }
    &:nth-child(6){
      top: $trih*2;
      left: $triw/2;
      @include animation-delay($anim-speed/6*-2);
    }
    &:nth-child(7){
      top: $trih*2;
      left: $triw;
      @include animation-delay($anim-speed/6*-3);
    }
    &:nth-child(8){
      top: $trih*2;
      left: $triw*1.5;
      @include animation-delay($anim-speed/6*-4);
    }
    &:nth-child(9){
      top: $trih*2;
      left: $triw*2;
      @include animation-delay($anim-speed/6*-4);
    }
  }

}

@include keyframes(pulse){
  0%{
    opacity: 1;
  }
  16.66%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


/* ---------------------------------
    1 - Header
----------------------------------*/

#header{
  position: relative;
  background-image: url('../image/background.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 680px;

  h1{
    position: absolute;
    top: 18%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 12em;
    font-weight: 900;

    span{
      position: absolute;
      display: block;
      font-weight: 300;
      font-size: 0.5em;
      left: 42%;
      top: 76%;
    }
  }
}


/* --------------------------------------------------------------
    1 - Main
      - Icon Scroll
-------------------------------------------------------------- */

.icon-scroll,
.icon-scroll::before{
  position: absolute;
  left: 48%;
}

.icon-scroll{
  width: 40px;
  height: 70px;
  box-shadow: inset 0 0 0 2px #FFFFFF;
  border-radius: 25px;
  bottom: 30px;

  &:before{
    content: '';
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    top: 8px;
    margin-left: -4px;
    border-radius: 4px;
    @include animation(scroll infinite 1.5s);
  }
}


@include keyframes(scroll){
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    @include transform(translateY(46px));
  }
}


/* --------------------------------------------------------------
    2 - About Section
-------------------------------------------------------------- */

#about{
  padding: 80px 0 60px;
  margin: 0 auto;
  text-align: center;

  img{
    border: 8px solid #f2f2f2;
    border-radius: 100%;
    margin-bottom: 30px;
    @include transition(all 0.32s ease-in-out);

    &:hover{
      border: 8px solid #03A9F4;
    }
  }

  p{
    line-height: 1.3;
    letter-spacing: 2px;
    font-size: 1.5em;
    max-width: 950px;
    width: 84%;
    margin: 0 auto;
    padding:0 3% 25px;
    color: rgba(33, 33, 33, 0.9);
  }

  // p:nth-child(3){
  //   padding-bottom: 120px;
  // }
}


/* --------------------------------------------------------------
    3 - What Do Section
-------------------------------------------------------------- */

#doing{
  padding: 60px 0 80px;
  text-align: center;

  h1{
    text-transform: uppercase;
    font-size: 5em;
    font-family: "Lato", sans-serif;
    padding-bottom: 1em;
    font-weight: 600;
  }
  p{
    padding: 15px;
    line-height: 1.5;
    font-size: 1.12rem;
  }

  .doone,
  .dotwo,
  .dotre{

    h3{
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      letter-spacing: 2px;
      margin: 1em 0 1em;
      font-weight: 800;
      color: rgba(33, 33, 33, 0.93);
    }

    i{
      font-size: 3.5em;
      color: rgba(33, 33, 33, 0.69);
      @include transition(all 0.32s ease);

      &:hover{
        color: #03A9F4;
        cursor: pointer;
      }
    }

    p{
      padding: 15px;
      line-height: 1.5;
      letter-spacing: 1px;
      font-size: 1rem;
      color: rgba(33, 33, 33, 0.8);
    }
  }
}

.container{
  width: 86%;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 0 3;

  .flex-3{
    @include flex(3);
  }
}


/* --------------------------------------------------------------
    4 - Portfolio
-------------------------------------------------------------- */

#portfolio{
  padding: 80px 0;
  overflow: hidden;

  .slide{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    .slider{
      display: block;
      padding: 60px 0 0;
      margin:0 auto;
      text-align: center;
      height: 100%;
      // min-height: 540px;

      h1{
        color: #FFFFFF;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        word-spacing: 2px;
        padding: 0 15px;
      }

      & img{
        width: 100%;
        max-width: 860px;
        position: relative;
        margin: 0 auto;
      }
    }

    .slide_one{
      background-color: #339AFA;

      & img{
        bottom: -24px;
      }
    }

    .slide_two{
      background-color: #43B09B;

      & img{
        bottom: 0px;
      }
    }

    .slide_tree{
      background-color: #23ADAB;

      & img{
        bottom: 0px;
      }
    }

    .slide_four{
      background-color: #445869;

      & img{
        bottom: 0px;
      }
    }

    .arcadia{
      background-color: #838385;

      & img{
        bottom: 0px;
      }
    }

    .nyala{
      background-color: #F74C4C;

      & img{
        bottom: 0px;
      }
    }

    .resume{
      background-color: #E9E9E9;

      & img{
        bottom: 0px;
      }
    }

    .other{
      position: relative;
      background-color: #848484;
      padding-bottom: 60px;

      & img{
        bottom: 0px;
      }
    }

  }

  .slick-prev{
    left: 30px;

    &:before{
      content: '\e094';
      font-family: 'icomoon';
      font-size: 80px;
      opacity: 0.2;
    }
  }

  .slick-next{
    right: 100px;

    &:before{
      content: '\e095';
      font-family: 'icomoon';
      font-size: 80px;
      opacity: 0.2;
    }
  }

}


.slick-slide img{
  margin: 0 auto;
}





/* --------------------------------------------------------------
    5 - Hire Section
-------------------------------------------------------------- */

#hire{
  padding: 30px 0 100px;
  margin: 0 auto;
  text-align: center;

  h1{
    font-size: 2.2em;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 65px;

    span{
      display: block;
      font-size: 0.6em;
      text-transform: lowercase;
      font-weight: 400;
      color: rgba(33, 33, 33, 0.73);
    }
  }

}

.btn-touch{
  padding: 20px 70px;
  background: rgba(2, 136, 209, 0.84);
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  @include transition(all 0.32s ease-in-out);

  &:hover{
    background-color: rgba(2, 136, 209, 1);
  }
}


/* --------------------------------------------------------------
    6 - Footer Section
-------------------------------------------------------------- */

#footer{
  padding: 60px 0 40px;
  margin: 0 auto;
  text-align: center;
  background-image: url('../image/footerbg.png');
  background-position: center;
  background-repeat: no-repeat;

  h1{
    font-size: 2.6em;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .social_icon{
    list-style-type: none;
    margin: 0;
    padding: 60px 0 80px;

    li{
      display: inline-block;
      margin: 0 10px;
      padding: 0;


      a{
        color: #FFFFFF;
        font-size: 60px;
        text-decoration: none;
        @include transition(all 0.32s ease-in-out);

        i{
        }

        &:hover{
          color: #03A9F4;
        }

      }
    }
  }

  .copyright{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 1em;
  }

}



/* --------------------------------------------------------------
    1 - Typograpy
-------------------------------------------------------------- */

@media screen and (max-width: 50em) {

  #header{
    h1 {
        font-size:10em;

      span{
        font-size: 0.5em;
        font-style: normal;
        left: 35%;
      }
    }
  }

  #about{

    p{
      font-size: 1.2em;
    }
  }

  #doing{

    h1{
      font-size: 4.5em;
    }

    .flex-1{
      @include flex(1 100%);
      padding: 15px;
    }

  }

}

@media screen and (max-width: 40em) {

  #header{
    h1 {
        font-size:8.5em;
        top: 30%;

      span{
        font-size: 0.5em;
        font-style: normal;
        left: 35%;
      }
    }
  }
}


@media screen and (max-width: 30em) {

  #header{
    height: 525px;

    h1 {
        font-size:5.2em;
        top: 26%;

        span{
          font-size: 0.5em;
          font-style: normal;
        }
    }
  }


  #doing{

    h1{
      font-size: 3.5em;
    }
  }

  #footer{

    h1{
        font-size: 2.2em;
    }

    .social_icon{
      padding-bottom: 40px;
    }
  }
}
